<p id="notice"><%= notice %></p>

<p>
  <strong>Dispensary:</strong>
  <%= @dispensary_menu.dispensary_id %>
</p>

<%= link_to 'Edit', edit_dispensary_menu_path(@dispensary_menu) %> |
<%= link_to 'Back', dispensary_menus_path %>
