<style>
  .test_box{
    border: 1px solid black;
    padding: 10px;
  }
</style>

  <% @leafly_menu.each do |prod| -%>
  <div class="test_box">

    <% prod.each do |k,v| -%>
      <%= "#{k}: #{v}" %>
    <% end -%>
  </div>

  <% end -%>
<%#= @leafly_menu.inspect %>
<%#= @leafly_menu.class %>